<header>
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="logo"><img src="./assets/images/logo.png" alt="logo"></a>
      <nav>
        <ul class="menu__list">
          <li>
            <a href="#">Flight</a>
          </li>
          <li>
            <a href="#">Hotel</a>
          </li>
          <li>
            <a href="#">Packages</a>
          </li>
          <li>
            <a href="#">Sign in</a>
          </li>
          <li class="sign__up">
            <a href="#">Sign up</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>